[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
ExecStart={{ redis_base_dir }}/redis/bin/redis-server {{ redis_base_dir }}/redis/etc/{{ item.port }}/redis.conf --supervised systemd
ExecStop=/bin/kill -s QUIT
Type=forking
User={{ user }}
Group={{ group }}
RuntimeDirectory=redis
RuntimeDirectoryMode=0755
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target

