[Unit]
Description=Redis instance {{ item }} 
After=network.target

[Service]
ExecStart={{ redis_base_dir }}bin/redis-server {{ redis_base_dir }}etc/redis-{{ item }}/redis.conf --supervised systemd
ExecStop=/bin/kill -s QUIT
Type=forking
User={{ user }}
Group={{ group }}
RuntimeDirectory=redis
RuntimeDirectoryMode=0755
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target

